<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title></title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div class="centered">
        <input id="name" type="text">
        <input id="have" type="text">
        <input id="need" type="text">
        <input id="location" type="text" name="location">
        <p><button type="button">Fill 'er up!</button></p>
    </div>
    <script>
        $('button').on('click', function(){
            var pantryEntries = {
                'name':$('#name').val(),
                'have':$('#have').val(),
                'need':$('#need').val(),
                'location':$('#location').val()
            }
            $.ajax({
                method: 'POST',
                url: '/pantry',
                data: pantryEntries,
                success: function(){
                    window.location.href='/yourpantry'
                }
            })
        })
    </script>
</body>
</html>